.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    
}

.about-title{
    position: relative;
    padding: 25px;
    
}
.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.about-title img{
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: -1;
}
.about-sections{
    display: flex;
    gap: 80px;
    width: 100%;
}
.about-sections img{
    width: auto;
    height: 280px;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-para{
display: flex;
flex-direction: column;
gap: 20px;
font-size: 24px;
font-weight: 500;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skills p{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p{
    min-width: 150px;
    font-size:  24px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
}
.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.7s;
}

.about-achievement h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achievement p{
    font-size: 22px;
    font-weight: 500;
}
.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
.about-achievement:hover {
    transform: scale(1.12);
    transition: 0.5s;
}

/* //----media responsive  */


@media (max-width: 1024px) {
    .about {
        flex-direction: column;
        align-items: center;
        margin: 20px 40px;
    }

    .about-content {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .about-content h2 {
        font-size: 28px;
    }

    .about-content p {
        font-size: 16px;
    }

    .about-img {
        display: none;
    }
}

 @media (max-width: 768px) {
    .about {
        margin: 20px;
    }
    .about-title h1 {
        font-size: 50px;
    }
    .about-title img {
        width: auto;
        height: 40px;
    }
    .about-sections {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-para p {
        font-size: 16px;
    }
    .about-skills p {
        font-size: 16px;
    }
    .about-skills hr {
        font-size: 16px;
    }
    .about-right {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .about-skills h2 {
        font-size: 24px;
    }
    .about-skill p {
        font-size: 10px;
    }
    .about-right p {
        font-size: 14px;
    }

    .about-achievement p {
        font-size: 14px;
    }
    .about-achievement h1 {
        font-size: 36px;
    }
}

@media (max-width: 480px) {
    .about {
        margin: 10px;
    }
    .about-title h1 {
        font-size: 40px;
    }
    .about-title img {
        width: auto;
        height: 30px;
    }
    .about-sections {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-left {
        display: none;
    }
    .about-right {
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    .about-para p {
        font-size: 14px;
    }
    .about-skills p {
        font-size: 14px;
    }
    .about-skills hr {
        font-size: 14px;
    }
    .about-skill p {
        font-size: 8px;
    }
    .about-right p {
        font-size: 12px;
    }

    .about-achievement p {
        font-size: 12px;
    }
    .about-achievement h1 {
        font-size: 28px;
    }
}
