.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 70px;
}
.logo {
  height: 70px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 18px;
}
.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover {
  transform: scale(1.05);
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
}
.nav-menu li p:hover {
  /* color: #B923E1; */
  transition: width 0.3s ease, right 0.3s ease;
  border-bottom: 2px solid violet;
}
.nav-menu li p:hover::after {
  width: 100%;
  right: 0;
}
.nav-menu li img {
  display: flex;
  margin: auto;
}
.anchor-link {
  text-decoration: none;
  color: rgb(241, 241, 241);
}
.nav-mob-open {
  display: none;
}
.nav-mob-close {
  display: none;
}

/* media section for responsiveness */
/* Tablet/iPad (max-width: 1024px) */

@media only screen and (max-width: 1024px) {
  .navbar {
    margin: 10px 30px;
  }
  .logo {
    height: 50px;
    margin: 10px 20px;
  }
  .nav-menu {
    gap: 30px;
  }

  .nav-connect {
    padding: 15px 30px;
    font-size: 20px;
  }
}

/* Mobile (max-width: 768px) */
@media(max-width:768px){
    .navbar{
        margin: 5px 0px;
        justify-content: center;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;

    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
   
}


/* 
@media (max-width: 1024px) {
    .navbar {
        margin: 20px 40px;
    }

    .nav-menu {
        gap: 30px;
        font-size: 16px;
    }

    .nav-connect {
        padding: 15px 30px;
        font-size: 20px;
    }
} */

/* @media(max-width:768px){
    .navbar{
        margin: 20px 60px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;

    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
   
} */
/* 
@media (max-width: 390px) {
    .navbar {
        flex-direction: column;
        margin: 10px 10px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        font-size: 16px;
    }

    .nav-connect {
        padding: 10px 20px;
        font-size: 18px;
    }

    .nav-menu li {
        font-size: 14px;
    }
}  */